#terminal-container {
  display: inline-block;
  padding: 2px;
}

.function {
  display: inline-block;
  /* float: right; */
}

#terminal-container .terminal {
  background-color: #111;
  color: #fafafa;
  padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
  background-color: #fafafa;
}
